<div class="container">
  <button
    tuiButton
    appearance="primary"
    size="m"
    icon="tuiIconPlusLarge"
    class="mb-4 align-self-end"
    (click)="newShoppingList()"
  >
    New list
  </button>

  <div
    class="row justify-content-between"
    *ngIf="shoppingLists.length > 0; else emptyList"
  >
    <tui-island
      class="col-md-5 mb-3"
      [hoverable]="true"
      *ngFor="let list of shoppingLists"
      (click)="shoppingListClicked(list.id)"
    >
      <div class="tui-island__figure justify-content-between">
        <button
          tuiButton
          size="xs"
          type="button"
          icon="tuiIconPlus"
          (click)="$event.stopPropagation(); addUserToList(list.id)"
        >
          Add user
        </button>
        <button
          tuiIconButton
          size="xs"
          type="button"
          appearance="icon"
          icon="tuiIconCloseLarge"
          (click)="$event.stopPropagation(); deleteShoppingList(list)"
        ></button>
      </div>
      <h3 class="tui-island__title mt-3">{{ list.name }}</h3>
      <div class="tui-island__paragraph mt-3">
        <tui-tag
          *ngFor="let userEmail of list.users; let i = index"
          size="l"
          class="tag me-1 mt-1"
          [autoColor]="true"
          [value]="userEmail"
          [removable]="list.users.length > 1"
          (click)="$event.stopPropagation()"
          (edited)="removeUserFromList(list, userEmail)"
        ></tui-tag>
      </div>
    </tui-island>
  </div>

  <ng-template #emptyList>
    <h1 class="text-center bg-white rounded-pill">No list found</h1>
  </ng-template>
</div>
