<nav class="navbar navbar-expand-lg bg-light shadow mb-4">
  <div class="container">
    <a class="navbar-brand" routerLink="home">
      <img
        src="assets/shopping-list-logo.png"
        class="img-fluid"
        alt="Shopping list logo"
        style="height: 50px"
      />
      ShopList
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header flex-column border-bottom">
        <div class="d-flex justify-content-between w-100">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">ShopList</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="profile-name mt-2">
          {{ authService.userInfo?.profile?.name }}
        </div>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" routerLink="home" routerLinkActive="active"
              >Home</a
            >
          </li>
          <li class="nav-item" *ngIf="authService.isLoggedIn">
            <a
              class="nav-link"
              routerLink="shopping-list"
              routerLinkActive="active"
              >Shopping list</a
            >
          </li>
          <div class="flex-grow-1"></div>
          <ng-container *ngIf="!authService.isLoggedIn; else loggedInUserMenu">
            <li class="nav-item">
              <a class="nav-link" role="button" (click)="authService.login()"
                >Sign In / Sign Up</a
              >
            </li>
          </ng-container>
          <ng-template #loggedInUserMenu>
            <span class="navbar-text profile-name me-4 d-none d-lg-block">
              {{ authService.userInfo?.profile?.name }}
            </span>
            <li class="nav-item">
              <a class="nav-link" role="button" (click)="authService.logout()">
                Log out
              </a>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </div>
</nav>
