<p>
    <mat-toolbar color="primary">
      <span>Shopping List</span>
      <span class="spacer"></span>
      <button mat-button (click)="openAddOrEditDialog()">
        <mat-icon>add</mat-icon> Add Item
      </button>
    </mat-toolbar>
</p>
<div class="shopping-list">
    <mat-card *ngFor="let item of shoppingItems" [ngClass]="{'done': item.isDone}">
        <mat-checkbox color="primary" [checked]="item.isDone" (change)="itemActiveStatusChanged(item)"></mat-checkbox>
        <div>
            <div class="item-header">
                <p>{{ item.name }}</p>
                <span class="spacer"></span>
                <p>Qty: {{ item.amount }}</p>
                <button mat-icon-button color="primary" (click)="openAddOrEditDialog(item)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteItem(item)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
            <div class="item-details">
                <p>{{ item.description }}</p>
                <span class="spacer"></span>
                <p>{{ item.createdAt | date }}</p>
            </div>
        </div>
    </mat-card>
</div>