@use '@angular/material' as mat;

@include mat.core();

$primary: mat.define-palette(mat.$purple-palette, 500);

.spacer {
    flex: 1 1 auto;
}

.shopping-list {
    max-width: 600px;
    margin: auto;

    p {
        margin: 0px;
    }

    mat-card {
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        align-items: center;

        &:not(.done) {
            border: 2px solid  mat.get-color-from-palette($primary, 500);;
        }

        &.done {
            background-color: #b1b1b16c;

            .item-header {
                text-decoration: line-through;
            }
        }
    
        mat-checkbox {
            margin-right: 20px;
            margin-left: 10px;
        }
        
        div {
            flex-grow: 1;
        }
    
        .item-header {
            display: flex;
            font-size: large;
        }
        
        .item-details {
            display: flex;
            color: rgba($color: #828282, $alpha: 1.0);
        }
    }
}

